.side-nav {
	ul {
		li.active a {
			font-weight: bold;
		}

		&:first-of-type li:first-of-type h4 {
			margin-bottom: 5px;
		}

		&:not(:first-of-type) li:first-of-type h4 {
			margin-top: 20px;
			margin-bottom: 5px;
		}
	}
}

.api-contents {
	padding: 0 25px;
}

.api-page-header {
	h1 {
		i.fa {
			margin-right: 15px;
		}

		margin-top: 0;
	}

	hr {
		margin: 0;
	}
}

.api-metadata {
	font-size: 1em;
	margin-top: 5px;
}

.api-index {
//	ul.nav-tabs {
//		border-bottom: 3px solid $theme-color;
//
//		li {
//			a, a:hover {
//				border: none;
//			}
//
//			a {
//				color: $theme-color;
//			}
//
//			a:hover {
//				background-color: #f6f6f6;
//			}
//		}
//
//		li.active {
//			a, a:hover {
//				background-color: $theme-color;
//				color: white;
//				border: none;
//				border-bottom: 1px solid $theme-color;
//			}
//		}
//	}

	.contents {
		h3 {
			margin-left: .25em;
			margin-right: .25em;
		}

		ul {
			margin: 1em 1.5em;
		}

		border: 1px solid #ddd;
		border-top: none;
		border-radius: 0 0 4px 4px;

		padding: 1em 1.5em;
	}
}

.api-property, .api-method {
	.property-name {
		small {
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}

		margin-bottom: 0;
	}

	p {
		margin: 15px 0;
	}
}

.api-method {
	.parameter-list, .return-value {
		li {
			small {
				a, a:hover {
					text-decoration: none;
				}

				span {
					margin-left: 2em;
				}
			}
		}
	}
}