<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ember-Graph Tests</title>
		<link rel="stylesheet" href="../lib/qunit.css">
	</head>
	<body>
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
		<script type="text/javascript" src="../lib/jquery.js"></script>
		<script type="text/javascript" src="../lib/handlebars.js"></script>
		<script type="text/javascript" src="../lib/ember.js"></script>
		<script type="text/javascript" src="../lib/timemachine.js"></script>
		<script>
			timemachine.reset();
		</script>

		<script type="text/javascript" src="../lib/qunit.js"></script>

		<script src="../ember-graph.js"></script>

		<% _.each(files, function(filepath) { %>
			<script type="text/javascript" src="../<%= filepath %>"></script>
		<% }); %>

	</body>
</html>