<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Ember-Graph</title>

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic'
		      rel='stylesheet' type='text/css'>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="../stylesheets/style.css">
	</head>
	<body>
		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="http://ember-graph.com" target="ext">
						<b>Ember-Graph</b>
					</a>
					<a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">About</a></li>
						<li><a href="#">Guides</a></li>
						<li class="active"><a href="#">API</a></li>
						<li><a href="https://ember-graph-builds.s3.amazonaws.com/index.html">Builds</a></li>
					</ul>
					<ul class="nav pull-right navbar-nav">
						<li>
							<a href="https://github.com/gordonkristan/ember-graph">
								<i class="fa fa-lg fa-github"></i> View on GitHub
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		{{{body}}}

		<footer>
			<hr>
			<a class="text-muted">&copy; Copyright Gordon Kristan 2014.</a>
		</footer>


		<script src="../javascripts/jquery.min.js"></script>
		<script src="../javascripts/bootstrap.min.js"></script>
		<script src="../javascripts/api.js"></script>
	</body>
</html>