{{#if properties}}
	<h3>Properties</h3>

	<ul class="list-unstyled">
		{{#each properties}}
			<li>
				<a href="#property_{{name}}">{{name}}</a>
			</li>
		{{/each}}
	</ul>
{{/if}}

{{#if methods}}
	<h3>Methods</h3>

	<ul class="list-unstyled">
		{{#each methods}}
			<li>
				<a href="#method_{{name}}">{{name}}</a>
			</li>
		{{/each}}
	</ul>
{{/if}}