<ul class="list-unstyled">
	<li>
		<h4>
			<strong>Namespaces</strong>
		</h4>
	</li>
	{{#each namespaces}}
		<li class="{{#if active}}active{{/if}}">
			<a href="{{name}}.html">
				<small>{{name}}</small>
			</a>
		</li>
	{{/each}}
</ul>

<ul class="list-unstyled">
	<li>
		<h4>
			<strong>Classes</strong>
		</h4>
	</li>
	{{#each classes}}
		<li class="{{#if active}}active{{/if}}">
			<a href="{{name}}.html">
				<small>{{name}}</small>
			</a>
		</li>
	{{/each}}
</ul>